<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Cita">
    <select id="getAllCitas" resultType="Pojos.Cita">
        SELECT
            idCitas,
            idPaciente,
            fecha_cita,
            hora_cita,
            observaciones
        FROM citas
    </select>

    <select id="getCitaPaciente" resultType="Pojos.Cita" parameterType="map">
        SELECT
            idCitas,
            idPaciente,
            fecha_cita,
            hora_cita,
            observaciones
        FROM citas
        WHERE idPaciente = #{idPaciente}
    </select>
    
    <insert id="registraCita" parameterType="Pojos.Cita">
        INSERT INTO citas (idCitas, idPaciente, fecha_cita, hora_cita, observaciones)
        VALUES (#{idCitas},#{idPaciente},#{fecha_cita},#{hora_cita},#{observaciones})
    </insert>
    
    <update id="editarCita" parameterType="Pojos.Cita">
        UPDATE citas SET fecha_cita = #{fecha_cita}, hora_cita = #{hora_cita}, observaciones = #{observaciones}
        WHERE idCitas = #{idCitas}
    </update>
    
    <delete id="eliminarCita" parameterType="int">
        DELETE FROM citas WHERE idCitas = #{idCitas}
    </delete>    
</mapper>
