<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Dieta">

    <select id="getAllDietas" resultType="Pojos.Dieta">
        SELECT
        idDieta,
        numero_dieta,
        cantidad,
        hora_dia,
        calorias_dieta,
        observaciones,
        dietas.idAlimento,
        tipoalimento.nombre as tipo
        FROM dietas
        INNER JOIN tipoalimento ON dietas.idAlimento = tipoalimento.idAlimento
    </select>
    
    <select id="getDietaPaciente" resultType="Pojos.Dieta" parameterType="map">
        SELECT
        idDieta,
        numero_dieta,
        cantidad,
        hora_dia,
        calorias_dieta,
        observaciones,
        idPaciente,
        dietas.idAlimento,
        tipoalimento.nombre as tipo
        FROM dietas, tipoalimento
        WHERE idPaciente = #{idPaciente}
    </select>
    
    <select id="getTiposAlimentos" resultType="Pojos.TipoAlimento">
        SELECT
        idAlimento,
        nombre
        FROM tipoalimento
    </select>
    
    <insert id="registrarDieta" parameterType="Pojos.Dieta">
        INSERT INTO dietas (idAlimento, numero_dieta, cantidad, hora_dia, calorias_dieta, observaciones, idPaciente)
        VALUES (#{idAlimento},#{numero_dieta},#{cantidad},#{hora_dia},#{calorias_dieta},#{observaciones},#{idPaciente})
    </insert>
    
    <update id="actualizarDieta" parameterType="Pojos.Dieta">
        UPDATE dietas SET cantidad = #{cantidad}, hora_dia = #{hora_dia}, calorias_dieta = #{calorias_dieta}, observaciones = #{observaciones}
        WHERE idDieta = #{idDieta}
    </update>
        
    <delete id="eliminarDieta" parameterType="int">
        DELETE FROM dietas WHERE idDieta = #{idDieta}
    </delete>
    
</mapper>