<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Dieta">

    <select id="getAllDietas" resultType="Pojos.Dieta">
        SELECT
        idDieta,
        idAlimento,
        numero_dieta,
        cantidad,
        hora_dia,
        calorias_dieta,
        observaciones
        FROM dietas
    </select>
    
    <insert id="registrarDieta" parameterType="Pojos.Dieta">
        INSERT INTO dietas (idAlimento, numero_dieta, cantidad, hora_dia, calorias_dieta, observaciones)
        VALUES (#{idAlimento},#{numero_dieta},#{cantidad},#{hora_dia},#{calorias_dieta},#{observaciones})
    </insert>
    
    <update id="actualizarDieta" parameterType="Pojos.Dieta">
        UPDATE dietas SET cantidad = #{cantidad}, hora_dia = #{hora_dia}, calorias_dieta = #{calorias_dieta}, observaciones = #{observaciones}
        WHERE idDieta = #{idDieta}
    </update>
        
    <delete id="eliminarDieta" parameterType="int">
        DELETE FROM dietas WHERE idDieta = #{idDieta}
    </delete>
    
</mapper>